@font-face{
	font-family: AnotherdayinParadise;
	src:url("../fonts/AnotherdayinParadise.ttf");


}


*{
	margin: 0;
	padding: 0;

}
h1{
	font-family: AnotherdayinParadise;
	font-size: 70px;
}
header{
	background:linear-gradient(to left,lightblue,white);
}

#wrapper{
	width: 980px;

	position: absolute;
	left: 25%;
}

